@extends('layout.rs.html')

@section('header', self.get_header("hello"))

@section('title','About Page')

what is going on

@section footer {
    <p>Footer content goes here.</p>
    what is going on dude @self.hey
    <p>Footer content goes here.</p>

    @if self.my_var == "my var" {
        <p>MyVar is true</p>
    } else {
        <p>MyVar is false</p>
    }
}

<h1>About Page</h1>

@if self.is_ok {
    <p>We hope you find what you're looking for.</p>
}

<div>
    <h2>Our Team</h2>
    <ul>
        @for i in 0..10 {
            <li>Team Member @i</li>
        }
    </ul>

    <h2>Our Mission</h2>
    <p>To provide the best services to our customers.</p>

    <h2>Contact Us</h2>
    <p>Email:
</div>