@ ( title: impl View, x: i32 )

@use "user.rs.html" as User;

<div>
    <h1>hello</h1>
    @{ let x = 5; }
</div>

@(3+5)
@("Hello, world! <script>alert('hello')</script>")

<p>@child_content()</p>

@if self.x == 5 {
    <p>x is 5</p>
} else  if self.x == 7 {
    <p>x is not 5</p>
} else {
    <p>x is not 5</p>
}

@for user in self.users {
    <div>
        <h2>@user.name</h2>
        <p>@user.email</p>
    </div>
}

<p>@user.name</p>

@time("2023-1:30:00Z")
@time("2023-11-20T10:30:00Z").pretty()
@time("2023-11-20T10:30:00Z").pretty().format("%b %d, %Y")
@time("2023-11-20T10:30:00Z").date()
@time("2023-11-20T10:30:00Z").time()

@inline_function()

<script type="text/javascript">
  let users = @json(&self.users);
  @json_let("users_let", &self.users);
</script>
