@extends('layout.html')

@section('header', my_func("hello"))

@section('title','About Page')

what is going on

@section footer {
    <p>Footer content goes here.</p>
    what is going on dude @hey
    <p>Footer content goes here.</p>

    @if myvar {
        <p>MyVar is true</p>
    } else {
        <p>MyVar is false</p>
    }
}

<h1>About Page</h1>

@{
    let myVar: 'static &str = true;
    let myVar2 = false;
    let items = vec![1, 2, 3, 4, 5];

    if myVar {
        println!("{}, {:?}", '}', "{");
    }
}

@if myVar {
    <p>We hope you find what you're looking for.</p>
}

<div>
    <h2>Our Team</h2>
    <ul>
        @for i in 0..10 {
            <li>Team Member @i</li>
        }
    </ul>

    <h2>Our Mission</h2>
    <p>To provide the best services to our customers.</p>

    <h2>Contact Us</h2>
    <p>Email:
</div>