<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taggy Template</title>
</head>
@* this is a @ comment *@
<body>

    @abc@def

    @(abc)
    @((inner))

    @(chrono::Utc::now() - chrono::Duration::days(7))

    @{
        let x = || {
            let y = 5;
            let z = MyStruct{i: 5, s: "hello@gmail.com"};
            y + 1
        };

        @: this is just text } also text { line

        println!("Hello, world! x = {}", x());


    }

    @if myVar {
    <h1>My Variable is True</h1>
    }

    @MyStruct::<i32>::new(text)?::abc(myfunc("helloo"))

    <ul>
        @for i in items {
        <li>Item @i </li>
        }
    </ul>

    @if myVar2 {
    <div>
        <h2>My Variable 2 is True</h2>
        <ul>
            @for item in items {
            @if item % 2 == 0 {
            <li>Even Item @item
            <li>
                }
                }
        </ul>
    </div>
    } else {
    heyyyy
    }
</body>

</html>