@(value: i32,
title: &str,
data: &str,
for_escape: &str,
items: &[Item])

<!DOCTYPE html>
<html lang="en">
<head>

    @use "Card" as Card
    @use "SideBar.rs.html" as SideBar
    @use "Navbar"
    @use "Item"

    <meta charset="UTF-8">
    <title>@title</title>
</head>
<body>

    @for item in items {
        <Item name=@&item.name/>
    }

    <Navbar for_escape = @&for_escape>
        heyy
    </Navbar>

    this is card:
    <Card title="hello" data=@data footer=@value >
        this is card content
    </Card>

    <br/>
    <hr/>
    <br/>

    <SideBar content = {
             this is content:
             <p>heyy</p>
             <p>value: @value</p>

             }
             data=@data
             />

</body>
</html>
