@(is_ok: bool, count: i32)

@if is_ok {
    <p>We hope you find what you're looking for.</p>
} else if count > 0 {
    <p>Something get bigger.</p>
} else {
    <p>What is it</p>
}

@if !is_ok {
    <p>We hope you find what you're looking for.</p>
} else if count > 0 {
    <p>Something get bigger.</p>
}

@if count < 0 {
    <p>Something get smaller.</p>
} else {
    <p>Something not get smaller</p>
}

@if is_ok {
    <p>We hope you find what you're looking for.</p>
} else if count > 0 {
    <p>Something get bigger.</p>
} else if count <= 0 {
    <p>Something get bigger.</p>
} else {
    <p>What is it</p>
}
