<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RsHtml Template - @render('title')</title>
    @* this comment is in layout *@
</head>
<body>

@render("header")

@if self.is_ok {
    @render_body
} else {
    <h1>Something went wrong</h1>
    <p>Please try again later.</p>
}

@if has_section("content") {
    <p>section content defined</p>
} else {
    <p>section content not defined</p>
}

@render("content")

@for i in 0..10 {
    <p>Item @i</p>
}

@render("footer")

</body>
</html>