
@use "Card.rs.html" as Card
@use "Card2.rs.html"

@{
  let x = 5;
  let y = 10;
  println!("{}", x + y);
  @: this is just a text @x   ttt

  <text>this is @y    textttt </text>
}

<script type="text/javascript">
  let users = @rs.json(&self.users);
</script>

@(3+5)
@("Hello, world!")

<Card title="okayy" footer/>

@raw {
  @if (x > 5) { print("@}"); } ... @}

  <h2>{{ message }}</h2>
  <p>Count value: {{ count }}</p>

  {{-- Buttons and event listeners --}}
  <button v-on:click="increment">Inc (+)</button>
  <button @click="decrement">Dec (-)</button>
}

@if self.title == "Hello" {
  <p>myvar is true</p>
} else {
  <p>myvar is false</p>
}

<Card title=@x footer=false prop3="hey" prop4={<p>what is this</p>}>
  <p>hello</p>
  <p>world</p>
  @if true {
    <p>say something</p>
  }

</Card>

@include("header.rs.html")

@match self.card_count {
  0 => <div>i</div>,
  1 => {
    <div>hell @self.card_count looo</div>
    <p>hello world</p>

    @if self.card_count > 0 {
      <p>Count is greater than 0</p>
    } else {
      <p>Count is not greater than 0</p>
    }
  },
  2 => <p>hel,_..loo</p>,
  _ => <p>aa=>,{..@@}a</p>,
}

<div>
  <h1>Home Page</h1>
  <p>Welcome to the home page.</p>
  <hr>

  @Card2(card2: "card 2"){}

  @Card(title: "Card Title", footer: "Card Footer"){}

  <!-- {<p>Card Footer</p>} -->

  @Card(title: "Card Title", footer: {<p>Footer content</p>}, isok:true, c:'c', d: @self.my_var.as_str(), e: @(5i32)) {
      <p>This is the content of the card.</p>
  }

</div>